<form id="paycom-bac-authorize-form" name="paycom-bac-authorize-form" method="post"
      action="">
    <select name="cc_type" value="">
        <option value="Mastercard">Mastercard</option>
        <option value="Visa">Visa</option>
    </select>
    <input type="text"name="cc_holder" value=""/>
    <input type="text"name="cc_number" value=""/>
</form>
